<div
  class="card
          align
          mx-4
          mt-4
          bg-dark bg-gradient
          text-white
          customCard "
>
  <div class="card-header ">
    <h4><a class="text-decoration-none " href="/dashboard/edit/{{id}}">{{title}}</a></h4>
  </div>
</div>