
    <div class="card
          align
          mx-4
          mt-4
          bg-dark bg-gradient
          text-white
          customCard" style="width: 18rem;">
        <h4 class="card-header"></h4>
        <section class="card-body">
            <div>
                {{post_text}}
            </div>
            <div>
                {{user.username}}, {{format_date date_created}}
            </div>
        </section>
    </div>
