<div class="card align mx-4 mt-4 bg-light text-black customCard">
  <div class="card-body">
    <h4 class="card-title">
      Create New Post
    </h4>
    <hr />
    <form id="post-form" class="card-body">
      <label class="form-label" for="content">Your story goes here...</label>
      <div class="input-group mb-3">
        <input
          id="post-text"
          name="content"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn btn-secondary">Create</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/post.js"></script>