<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rehab-Connect</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" src="/css/style.css">
</head>
<body>
    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {{#if logged_in}}
        <li><a href="/">Home</a></li>
        <li><a id="logout" href="#">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    {{#if logged_in}}
        <li><a href="/">Home</a></li>
        <li><a id="logout" href="#">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
        {{/if}}
  </ul>

    <main>
        {{{body}}}
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/js/nav.js"></script>
</body>
</html>