<section>
    <form id="edit-post-form">
        <label class="form-label" for="post-text">Edit post</label>
        <div class="input-group mb-3">
            <textarea class="form-control" id="post-text" rows="1" cols="1">{{post_text}}</textarea>
        </div>
        <div class="d-grid gap-2">
        <button type="submit" class="btn btn btn-secondary">Update</button>
      </div>
    </form>
</section>
<script src="/js/edit-post.js"></script>