<section>
  <div class="container">
    <div style="margin-top: 80px;" class="jumbotron text-center">
      <h1 class="display-4 landing-title">Rehab Connect
        <img width="50px"
          src="https://user-images.githubusercontent.com/82244776/134434978-0f051c22-1e96-4a18-a706-d2e9e2e61d25.png"
          alt="">
      </h1>
      <h3 class="mt-4 landing-description">Welcome to Rehab Connect, this website was created with a mission to unite people who are
        recently finished with rehab and creating connections through posting your experiences as you make progress
        along your journey.</h3>
      <a class="btn btn-primary btn-lg mt-4 landing-button" href="/home" role="button">Get Started</a>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <img class="home-images sharing-image" alt="sharing-stories"
        src="https://user-images.githubusercontent.com/82244776/134443856-1a68d6a8-3683-4850-ae89-0a7e6bf57356.jpeg">
    </div>
  </div>
</section>
<section class="stories">
  <div class="container">
    <div class="row text-center">
      <h3 class="stories-title">We need your stories!</h3>
      <h5 class="stories-description">It is crucial for us to give you the most amount of help through our site and you too can help others along by
        sharing your experiences and creating a network of people you can trust and talk to about your problems. Sharing
        your experiences also helps you feel confident about the progress you have made as an individual.</h5>
    </div>
  </div>
</section>
<section>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <img class="home-images stories-image" alt="sharing-stories"
        src="https://user-images.githubusercontent.com/82244776/134444546-9ff74fe3-7a4b-4fdb-bd4c-0b00e20355ea.jpeg">
    </div>
  </div>
</section>
<footer class="mt-5 footer">
  <div class="container mt-5">
    <div class="row">
      <p class="footer-text">This site was crafted through the joint effort of many great minds and has the potential to keep growing and continue to develop new ways to help those dealing with an addicion recovery if your interested in contributing in any capacity, <span><a href="mailto:jason1287712@gmail.com">Email us.</a></span></p>
    </div>
  </div>
  <div class="container">
  <p class="row text-center footer-link">
    <a href="https://github.com/jbramirez03/Rehab-Connect" target="_blank" class="footer__copy-link">&#169; Rehab Connect. All rights
      reserved</a>
  </p>
  </div>
</footer>
