<div>
    <div>
        <h2>Login</h2>

        <form>
            <div>
                <label for="username-login">username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">login</button>
            </div>
        </form>
    </div>
</div>