<section>
    {{> milestone-details}}
    {{> post-details}}

    <div>
        <h2>Add your story to this milestone:</h2>
        <form id="post-form">
            <div>
                <label for="post-text">Your story here:</label>
                <input type="text" id="post-text">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
<script src="/js/post.js"></script>