<div
  class="card
          align
          mx-4
          mt-4
          bg-light
          text-black
          customCard"
>
  <div class="card-body">
    <h4 class="card-title">
      SignUp
    </h4>
    <hr />
    <form id="signup-form" class="card-body">
      <label class="form-label" for="username-signup">Username</label>
      <div class="input-group mb-3">
        <input
          id="username-signup"
          type="text"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>

      <label class="form-label" for="password-signup">Password</label>
      <div class="input-group mb-3">
        <input
          id="password-signup"
          type="password"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <label class="form-label" for="email-signup">Email</label>
      <div class="input-group mb-3">
        <input
          id="email-signup"
          type="email"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-default"
        />
      </div>
      <div class="d-grid gap-2">
        <button type="submit" class="btn btn btn-secondary">Sign Up!</button>
      </div>
      <br />
      <a class="login-link text-decoration-none" href="/login">Log in instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>