<div>
    <div>
        <h2>Signup</h2>

        <form id="signup-form">
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">signup</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/signup.js"></script>