body {
  font-family: 'Poppins', sans-serif;;
  /* font-family: "Cinzel", serif; */
  /* background-image: url("/images/rehab.jpg"); */
  background-color: #c8d8e4;
  background-size: cover;
  height: 100vh;
  color: rgb(34, 33, 33);
}
.navbar-brand {
  font-size: 1.5rem;
}
.customCard {
  opacity: 0.9;
  padding: 0px;
}
.user-comment {
  font-size: 1.3rem;
}

a {
  color: rgb(34, 33, 33);
  /* text-shadow: 2px 2px 8px #000000; */
}

#phone {
text-decoration: none;
}

a:hover {
  color: rgb(34, 33, 33);
}

.stories {
  margin-top: 7rem;
}